/*!
 *  build: vue-admin-beautiful 
 *  vue-admin-beautiful author: chuzhixin 1204505056@qq.com 
 *  vue-admin-beautiful QQ Group(QQ群): 972435319、1139183756 
 *  time: 2021-6-23 21:21:57
 */[data-v-0a42c19d]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#2f3447}.more-container[data-v-0a42c19d] .el-card__body>div{min-height:220px;padding:20px}.more-container[data-v-0a42c19d] .el-card__body>div>ul>li{line-height:30px}.more-container[data-v-0a42c19d] .el-card__body>div>img{display:block;margin:40px auto;border:1px solid #dedede}